@import URL('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    font-family: "Poppins", sans-serif;
    font-style: normal;
}
html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none ;
    color: black;
    transition: all .3s ease;
}
a:hover{
    color: rgba(183, 30, 30, 0.916);
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-color: rgba(183, 30, 30, 0.916);
}
.navbar{
    display: flex;
    align-items: center;
    height: 70px;
    padding: 0px 100px;
}
.logo{
    width: 40%;
    font-size: 30px;
    font-weight: 600;
    color: brown;
}
.menu-bar{
    width: 60%;
    display: flex;
    list-style: none;
    justify-content: space-around;
}
.menu-bar li{
    font-size:20px;
}
.navbar-menu{
   display:none; 
}
@keyframes appear {
    from{
        opacity: 0;
        transform: translate(-200px);
    }
    to{
        opacity: 1;
        transform: translate(0px);
    }
}
@media (min-width :1025px) {
    .sec1,
    .sec2,
    .sec3,
    .sec4,
    .sec5 {
        animation: appear linear;
        animation-timeline: view();
        animation-range: entry 0% cover 40%;
}  
}
@media (max-width:1024px) {
    .navbar{
        display:none;
    }
    .navbar-menu{
        display:flex; 
    }
    .hamburger{
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        position: fixed;
        right: 30px;
        top: 20px;  
    }
    .hamburger i{
        font-size: 35px;
        padding: 4px;  
    }
    .navbar-menu .logo{
        margin-top: 20px;
        padding-left: 30px;
    }
    .navbar-menu .menu-bar
    {
       display: flex;
       flex-direction: column; 
       background-color: brown;
       position: fixed;
       right: 0;
       top: 70px;
       padding: 10px;
       gap: 10px;
       border-radius: 5px;
       margin-right: -650px;
       transition: all .3s ease;
       z-index: 100;
    }
    .navbar-menu .menu-bar.show{
        margin-right: 0px;
    }
    .navbar-menu .menu-bar li a {
        display: block;
        background-color: white;
        border-radius: 5px;
        padding: 5px;
        font-weight: 600;
    }
}

@media(max-width:767px) {
    .logo{
        text-wrap: nowrap;
    }
      .navbar-menu .logo{
        margin-top: 25px;
        padding-left: 10px;
        font-size: 25px;
    }
}